<!doctype html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" href="style.css">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/firebase/firebase.js"></script>
	<script src="../bower_components/angularfire/dist/angularfire.js"></script>
	<script src="app.js"></script>
	<script src="controllers.js"></script>
	<script src="services.js"></script>
</head>
<body ng-controller="AuthController">
	<h3 ng-if="user">{{user.google.displayName}} is signed in.</h3>
	<button ng-click="login()">Login</button>
	<button ng-click="logout()">Logout</button>
	<h1>Music</h1>
	<div ng-controller="MusicController">
		<input ng-model="query" type="text">
		<ul>
			<li ng-repeat="song in songs | filter : query">
			{{song.title}} by {{song.artist}}
			</li>
		</ul>
	</div>
</body>
</html>